@inject IInverterManagerService inverterManagerService
@implements IDisposable

<PageTitle>Solis Manager</PageTitle>

<ErrorBoundary>
    <TopStatusBar PageTitle="Costs" @bind-SelectedView="selectedView" ViewSettingName="cost-view">
        <ChildContent>
            <div class="consumption-header">
                <MudSelect T="DateRange" @bind-Value="selectedDateRange" @bind-Value:after="RecalcConsmption" Label="Range" 
                           Dense="true" Variant="UIConstants.MudVariant" Margin="Margin.Dense">
                    @foreach (var range in DateRanges)
                    {
                        <MudSelectItem T="DateRange" Value="@range">@range.desc</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect T="GroupByType" @bind-Value="selectedGrouping" @bind-Value:after="RecalcConsmption" 
                           Label="Group By" Dense="true" Variant="UIConstants.MudVariant" Margin="Margin.Dense">
                    @foreach (var group in Enum.GetValues<GroupByType>())
                    {
                        <MudSelectItem T="GroupByType" Value="@group">@group.Humanize()</MudSelectItem>
                    }
                </MudSelect>
                <div class="costs-summary">
                    <div class="total-cost">Total: <Price Value="@TotalNetCost" Colours="Price.ColorType.PositiveRed" /></div>
                    <div class="total-cost">Avg Import: <Price Value="@AverageImportCost" Formatter="@(x => $"{x:N2}p/kWh")"/></div>
                </div>
                @if (comparePrices && TotalNetComparisonCost != null && TotalNetComparisonCost != 0)
                {
                    <div class="costs-summary">
                        <div class="total-cost">Comparison Total: <Price Value="@TotalNetComparisonCost.Value" Colours="Price.ColorType.PositiveRed"/></div>
                        <div class="total-cost">
                            Difference:
                            <Price Value="@ComparisonDelta" Colours="Price.ColorType.PositiveRed"/>
                            @if (ComparisonDelta > 0)
                            {
                                <span>(more expensive)</span>
                            }
                            else
                            {
                                <span>(cheaper)</span>
                            }
                        </div>
                    </div>
                }
                <ConfigSettingHelp>
                    <HelpContent>
                        The comparison feature allows to you see what your historic consumption/usage would have cost with other tariffs.
                        Select an alternate import or export tariff to see what those tariffs would have cost. If you leave one of
                        the tariff selectors empty, it will default to using your current tariff.
                    </HelpContent>
                    <ChildContent>
                        <MudCheckBox @bind-Value="comparePrices" @bind-Value:after="@RecalcConsmption" Label="Compare" title="Enable historic tariff cost comparison"/>
                    </ChildContent>
                </ConfigSettingHelp>
                @if (comparePrices)
                {
                    <div class="comparison-selection">
                        <OctopusProductSelector @bind-TariffCode="@overrideImportTariffCode" @bind-TariffCode:after="@RecalcConsmption"
                                                RegionCode="@currentTariff?.Last()" RegionClearable="false" HideRegion
                                                Label="Import Tariff to Compare" Placeholder="Import tariff for comparison"/>
                        <OctopusProductSelector @bind-TariffCode="@overrideExportTariffCode" @bind-TariffCode:after="@RecalcConsmption"
                                                RegionCode="@currentTariff?.Last()" RegionClearable="false" ImportTariffs="false" HideRegion
                                                Label="Export Tariff to Compare" Placeholder="Export tariff for comparison"/>
                    </div>
                }
            </div>
        </ChildContent>
    </TopStatusBar>

    @if(accountValid != null &&!accountValid.Value)
    {
        <div class="no-account-warning">
            <div>
                Please configure your Octopus API Key and Account number<br/>
                in the <a href="/config">settings screen</a> to see consumption data.
            </div>
        </div>
    }
    else if( loading || consumptionData == null)
    {
        <ProgressIndicator ProgressText="@ProgressMessage"/>
    }
    else
    {
        @if (selectedView == ViewSelector.ViewType.Chart)
        {
            <ConsumptionChart ChartData="consumptionData"/>
        }
        else
        {
            <MudTable Items="consumptionData.ConsumptionData" Dense="true" Breakpoint="Breakpoint.None">
                <HeaderContent>
                    <MudTh>Period</MudTh>
                    <MudTh>Tariff</MudTh>
                    <MudTh>Standing Charge</MudTh>
                    <MudTh>Imported (kWh)</MudTh>
                    <MudTh>Import Price Paid (p/kWh)</MudTh>
                    <MudTh>Import Cost (£)</MudTh>
                    <MudTh>Exported (kWh)</MudTh>
                    <MudTh>Export Price Earned (p/kWh)</MudTh>
                    <MudTh>Export Profit (£)</MudTh>
                    <MudTh>Net Cost (£)</MudTh>
                    @if (comparePrices)
                    {
                        <MudTh>Comparison Cost (£)</MudTh>
                    }
                </HeaderContent>
                <RowTemplate>
                    <MudTd><DateDisplay Date="@context.StartTime"/></MudTd>
                    <MudTd>@context.Tariffs</MudTd>
                    <MudTd>@Math.Round(context.AverageStandingCharge, 2)</MudTd>
                    <MudTd>@Math.Round(context.TotalImport, 2)</MudTd>
                    <MudTd>@Math.Round(context.AverageImportPrice, 2)</MudTd>
                    <MudTd><Price Value="@(context.TotalImportCost)"/></MudTd>
                    <MudTd>@Math.Round(context.TotalExport, 2)</MudTd>
                    <MudTd>@Math.Round(context.AverageExportPrice, 2)</MudTd>
                    <MudTd><Price Value="@(context.TotalExportProfit)"/></MudTd>
                    <MudTd><Price Value="@(context.NetCost)" Colours="Price.ColorType.PositiveRed"/></MudTd>
                    @if (comparePrices)
                    {
                        <MudTd><Price Value="@GetComparisonCost(context.StartTime!.Value)" Colours="Price.ColorType.PositiveRed"/></MudTd>
                    }
                </RowTemplate>
            </MudTable>
        }

        <div><strong>Note:</strong> Consumption costs are currently shown without the standing charge.</div>
    }
</ErrorBoundary>

@code {
    private bool? accountValid = null;
    private bool loading = true;
    private SolisManagerConfig? config;
    private ConsumptionResponse? consumptionData = null;
    private Dictionary<DateTime, GroupedConsumption>? comparisonLookup = [];
    
    private ViewSelector.ViewType selectedView = ViewSelector.ViewType.Grid;
    private CancellationTokenSource tokenSource = new();
    private string ProgressMessage => $"Loading {selectedDateRange.Length} days of consumption and tariff data..." + 
                                      (selectedDateRange.Length <= 30 ? string.Empty : " Please be patient, this may take some time.");
    private GroupByType selectedGrouping = GroupByType.Day;
    private DateRange selectedDateRange = DateRanges.First(x => x.desc == "30 days");
    private decimal? AverageImportCost => consumptionData?.ConsumptionData.Average(x => x.TotalImportCost / x.TotalImport) * 100;

    private decimal GetComparisonCost(DateTime? date)
    {
        if (date != null && comparisonLookup.TryGetValue(date.Value, out var cost))
            return cost.NetCost;
        return 0;
    }
    
    private bool comparePrices = false;
    private string? currentTariff;
    private string? overrideExportTariffCode;
    private string? overrideImportTariffCode;
    
    private record DateRange(string desc, DateTime start, DateTime end)
    {
        public int Length => (int)(end - start).TotalDays;
    }

    private static DateTime MidnightToday
    {
        get { 
            // Consumption data is rarely available before 2pm so if it's before take midnight
            // as 00:00 today (i.e., data up until the end of yesteerday. Otherwise take midnight
            // as 00:00 tomorrow (so up until the end of today. Even then, export data may not
            // be available...
            int offset = DateTime.UtcNow.Hour < 14 ? -1 : 0;
            var midnight = new DateTime(DateOnly.FromDateTime(DateTime.Now).AddDays(offset), new TimeOnly(0, 0));
            return midnight;
        }
    }

    private static readonly DateRange[] DateRanges =
    [
        new ("1 week", MidnightToday.AddDays(-7), MidnightToday),
        new ("2 weeks", MidnightToday.AddDays(-14), MidnightToday),
        new ("30 days", MidnightToday.AddDays(-30), MidnightToday),
        new ("60 days", MidnightToday.AddDays(-60), MidnightToday),
        new ("3 months", MidnightToday.AddDays(-90), MidnightToday),
        new ("6 months", MidnightToday.AddMonths(-6), MidnightToday),
        new ("1 year", MidnightToday.AddYears(-1), MidnightToday),
        new ("This year", new DateTime(DateTime.Now.Year, 1, 1), MidnightToday.AddSeconds(-1)),
        new ("Last year", new DateTime(DateTime.Now.Year - 1, 1, 1), new DateTime(DateTime.Now.Year -1, 12, 31, 23, 59, 59)),
    ];

    private string TariffSummary(OctopusConsumption? item) => $"{item?.ImportTariff}" + (item?.DailyStandingCharge != null ? $" ({item.DailyStandingCharge:F2}p/day)" : string.Empty);
    private decimal? TotalNetCost => consumptionData?.ConsumptionData.Sum(x => x.NetCost);
    private decimal? TotalNetComparisonCost => consumptionData?.ComparisonConsumptionData?.Sum(x => x.NetCost);
    private decimal? ComparisonDelta => TotalNetComparisonCost - TotalNetCost;
    
    public void Dispose()
    {
        tokenSource.Cancel();
    }

    private async Task RecalcConsmption()
    {
        loading = true;
        StateHasChanged();

        await tokenSource.CancelAsync();
        tokenSource = new();

        var req = new ConsumptionRequest()
        {
            GroupBy = selectedGrouping,
            Start = selectedDateRange.start,
            End = selectedDateRange.end,
            OverrideImportTariffCode = comparePrices ? overrideImportTariffCode : null,
            OverrideExportTariffCode = comparePrices ? overrideExportTariffCode : null
        };

        if (!comparePrices)
            comparisonLookup = [];

        consumptionData = await inverterManagerService.GetConsumption(req, tokenSource.Token);

        loading = false;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        config = await inverterManagerService.GetConfig();
        currentTariff = config.OctopusProductCode;
        accountValid = !string.IsNullOrEmpty(config.OctopusAPIKey) && !string.IsNullOrEmpty(config.OctopusAccountNumber);
        
        await RecalcConsmption();

        await base.OnInitializedAsync();
    }
}