@inject ILogViewService logService

<div class="log-view">
    <ErrorBoundary>
        <div class="top-bar">
            <div class="files-selector">
                @if (logFiles != null && logFiles.Any())
                {
                    <MudSelect T="string" @bind-Value="logFile" @bind-Value:after="() => RefreshData(true)"
                               Label="Log File" Dense="true" Variant="UIConstants.MudVariant" Margin="Margin.Dense">
                        @foreach (var file in logFiles)
                        {
                            <MudSelectItem T="string" Value="@file">@file</MudSelectItem>
                        }
                    </MudSelect>
                }
                <MudIconButton Icon="@Icons.Material.Filled.Refresh" title="Reload the logs" OnClick="() => RefreshData(true)"/>
            </div>
            <div class="search-bar">
                <MudTextField @bind-Value="searchText" @bind-Value:after="() => RefreshData(false)" Label="Search"
                              DebounceInterval="200" Placeholder="Search Text" Immediate="true" AutoFocus="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" Clearable="true" Margin="Margin.Dense"/>
                <MudSelect T="LogLevel" @bind-Value="logLevelFilter" @bind-Value:after="() => RefreshData(false)"
                           Label="Log Level" Style="min-width:50px;" Dense="true" Variant="UIConstants.MudVariant" Margin="Margin.Dense">
                    <MudSelectItem T="LogLevel" Value="@LogLevel.None">All</MudSelectItem>
                    <MudSelectItem T="LogLevel" Value="@LogLevel.Information">Info</MudSelectItem>
                    <MudSelectItem T="LogLevel" Value="@LogLevel.Warning">Warning</MudSelectItem>
                    <MudSelectItem T="LogLevel" Value="@LogLevel.Error">Error</MudSelectItem>
                </MudSelect>
            </div>
        </div>
        <div class="log-table">
            <MudTable T="ILogViewService.LogEntry" @ref="table" Dense="true" ServerData="ServerReload"
                      FixedHeader="true" FixedFooter="true" Height="100%" LoadingContent="null"
                      Breakpoint="Breakpoint.None" PagerPosition="PagerPosition.Top">
                <HeaderContent>
                    <MudTh Style="width: 15%;">Time</MudTh>
                    <MudTh Style="width: 15%;">Level</MudTh>
                    <MudTh>Message</MudTh>
                </HeaderContent>
                <PagerContent>
                    <MudTablePager PageSizeOptions="[50, 100, 200, 500]" />
                </PagerContent>
                <RowTemplate>
                    <MudTd>
                        <span class="table-text">
                            <span class="log-level-text">
                                @context.timestamp.ToString("dd-MMM-yyyy")
                            </span>
                            @context.timestamp.ToString("HH:mm:ss")
                        </span>
                    </MudTd>
                    <MudTd>@Level(context)</MudTd>
                    <MudTd><span class="table-text">@context.logText</span></MudTd>
                </RowTemplate>
            </MudTable>
        </div>
    </ErrorBoundary>
</div>
@code {
    private MudTable<ILogViewService.LogEntry>? table;
    private LogLevel logLevelFilter = LogLevel.None;
    private string? logFile;
    private IEnumerable<string>? logFiles;
    private string searchText = string.Empty;
    private bool forceReload = false;

    private RenderFragment Level(ILogViewService.LogEntry e)
    {
        var levelClass = e.level switch
        {
            LogLevel.Error => "log-error",
            LogLevel.Warning => "log-warn",
            _ => "log-info"
        };

        var icon = e.level switch
        {
            LogLevel.Error => Icons.Material.Filled.Error,
            LogLevel.Warning =>  Icons.Material.Filled.Warning,
            _ =>  Icons.Material.Filled.Info
        };
        return @<span class="@levelClass">
                   <MudIcon Icon="@icon" Size="Size.Small"/>
                   <span class="log-level-text table-text">@e.level.ToString()</span>
               </span>;
    }
    
    private async Task RefreshData(bool force)
    {
        forceReload = force;
        if (table != null)
            await table.ReloadServerData();
    }

    private async Task<TableData<ILogViewService.LogEntry>> ServerReload(TableState state, CancellationToken token)
    {
        var result = new TableData<ILogViewService.LogEntry> { TotalItems = 0, Items = [] };
        try
        {
            var req = new ILogViewService.LogViewRequest(searchText, levelFilter: logLevelFilter, state.Page, 
                            state.PageSize, LogFile: logFile, force: forceReload);

            var response = await logService.GetLogs(req, token);
            logFiles = response.logFiles;

            if (response.LogEntries.Any())
            {
                result.Items = response.LogEntries;
                result.TotalItems = response.TotalItemCount;
                logFile = response.LogFileName;
            }
            
            StateHasChanged();
        }
        finally
        {
            forceReload = false;
        }

        return result;
    }

}