@inject ILogViewService logService
@inject ILocalStorageService localStorage
@inject ILogger<LogView> logger

<div class="log-view">
    <ErrorBoundary>
        <div class="top-bar">
            <div class="files-selector">
                @if (logFiles != null && logFiles.Any())
                {
                    <MudSelect T="string" @bind-Value="logFile" @bind-Value:after="() => RefreshData(true)"
                               Label="Log File" @attributes="UIConstants.SelectAttribs">
                        @foreach (var file in logFiles)
                        {
                            <MudSelectItem T="string" Value="@file">@file</MudSelectItem>
                        }
                    </MudSelect>
                }
                <MudIconButton Icon="@Icons.Material.Filled.Refresh" title="Reload the logs" OnClick="() => RefreshData(true)"/>
            </div>
            <div class="search-bar">
                <MudTextField @bind-Value="searchText" @bind-Value:after="() => RefreshData(false)" Label="Search"
                              DebounceInterval="200" Placeholder="Search Text" Immediate="true" AutoFocus="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" Clearable="true" @attributes="UIConstants.TextAttribs"/>
                <MudSelect T="LogLevel" @bind-SelectedValues="logLevelFilter" @bind-SelectedValues:after="() => RefreshData(false)"
                           Label="Log Level" Style="min-width:50px;" @attributes="UIConstants.SelectAttribs" MultiSelection="true"
                           SelectAll="true" SelectAllText="All">
                    <MudSelectItem T="LogLevel" Value="@LogLevel.Information">Info</MudSelectItem>
                    <MudSelectItem T="LogLevel" Value="@LogLevel.Warning">Warning</MudSelectItem>
                    <MudSelectItem T="LogLevel" Value="@LogLevel.Error">Error</MudSelectItem>
                </MudSelect>
            </div>
        </div>
        @if (loadedSettings)
        {
            <div class="log-table">
                <MudTable T="ILogViewService.LogEntry" @ref="table" Dense="true" ServerData="ServerReload"
                          FixedHeader="true" FixedFooter="true" Height="100%" LoadingContent="null"
                          Breakpoint="Breakpoint.None" PagerPosition="PagerPosition.Top">
                    <HeaderContent>
                        <MudTh Style="width: 15%;">Time</MudTh>
                        <MudTh Style="width: 15%;">Level</MudTh>
                        <MudTh>Message</MudTh>
                    </HeaderContent>
                    <NoRecordsContent>
                        No log files match the selected filters @FilterSummary()
                    </NoRecordsContent>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="[50, 100, 200, 500]"/>
                    </PagerContent>
                    <RowTemplate>
                        <MudTd>
                            <span class="table-text">
                                <span class="log-level-text">
                                    @context.timestamp.ToString("dd-MMM-yyyy")
                                </span>
                                @context.timestamp.ToString("HH:mm:ss")
                            </span>
                        </MudTd>
                        <MudTd>@Level(context)</MudTd>
                        <MudTd><span class="table-text">@context.logText</span></MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        }
    </ErrorBoundary>
</div>
@code {
    private MudTable<ILogViewService.LogEntry>? table;
    private IReadOnlyCollection<LogLevel> logLevelFilter = [LogLevel.Information, LogLevel.Warning, LogLevel.Error];
    private string? logFile;
    private IEnumerable<string>? logFiles;
    private string searchText = string.Empty;
    private bool forceReload;
    private bool loadedSettings;

    private const string LevelSetting = "LogLevel";
    private const string TextSetting = "SearchText";

    private string? FilterSummary()
    {
        var breadcrumbs = new List<string>();
        
        if( logLevelFilter.Any())
            breadcrumbs.Add( $"Log level: {string.Join(" or ", logLevelFilter)}");
        
        if( ! string.IsNullOrEmpty(searchText))
            breadcrumbs.Add($"Search text: {searchText}");
        
        if( breadcrumbs.Any())
            return $"({string.Join(", ", breadcrumbs)})";

        return null;
    }
    
    private RenderFragment Level(ILogViewService.LogEntry e)
    {
        var levelClass = e.level switch
        {
            LogLevel.Error => "log-error",
            LogLevel.Warning => "log-warn",
            _ => "log-info"
        };

        var icon = e.level switch
        {
            LogLevel.Error => Icons.Material.Filled.Error,
            LogLevel.Warning =>  Icons.Material.Filled.Warning,
            _ =>  Icons.Material.Filled.Info
        };
        return @<span class="@levelClass">
                   <MudIcon Icon="@icon" Size="Size.Small"/>
                   <span class="log-level-text table-text">@e.level.ToString()</span>
               </span>;
    }

    private async Task SaveSettings()
    {
        try
        {
            await localStorage.SetItemAsync(LevelSetting, string.Join(",", logLevelFilter));
            await localStorage.SetItemAsync(TextSetting, searchText);
        }
        catch( Exception ex)
        {
            logger.LogError(ex, "Error saving log view settings");
        }
    }

    /// <summary>
    /// Weird - for some reason <code>Enum.Parse<LogLevel)("7")</code> returns "7"?!?!
    /// So do our own
    /// </summary>
    /// <param name="levelStr"></param>
    /// <returns></returns>
    private LogLevel? ParseLevel(string levelStr)
    {
        return levelStr switch
        {
            "INF" or "Information" => LogLevel.Information,
            "WRN" or "Warning" => LogLevel.Warning,
            "ERR" or "Error" => LogLevel.Error,
            _ => null
        };
    }
    
    private async Task LoadSettings()
    {
        try
        {
            var level = await localStorage.GetItemAsync<string>(LevelSetting);
            var search = await localStorage.GetItemAsync<string>(TextSetting);

            if (!string.IsNullOrEmpty(level))
            {
                logLevelFilter = level.Split(",", StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries)   
                                      .Select(ParseLevel).ToList()
                                      .Where(x => x != null)
                                      .Select(x => x!.Value)
                                      .Distinct()
                                      .ToList();
            }

            if (!string.IsNullOrEmpty(search))
                searchText = search;
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Error loading log view settings");
        }
        finally
        {
            loadedSettings = true;
            StateHasChanged();
        }
    }

    private async Task RefreshData(bool force)
    {
        await SaveSettings();        

        forceReload = force;
        
        if (table != null)
            await table.ReloadServerData();
    }

    private async Task<TableData<ILogViewService.LogEntry>> ServerReload(TableState state, CancellationToken token)
    {
        var result = new TableData<ILogViewService.LogEntry> { TotalItems = 0, Items = [] };
        try
        {
            var req = new ILogViewService.LogViewRequest(searchText, levelFilters: logLevelFilter, state.Page, 
                            state.PageSize, LogFile: logFile, force: forceReload);

            var response = await logService.GetLogs(req, token);
            logFiles = response.logFiles;

            if (response.LogEntries.Any())
            {
                result.Items = response.LogEntries;
                result.TotalItems = response.TotalItemCount;
                logFile = response.LogFileName;
            }
            
            StateHasChanged();
        }
        finally
        {
            forceReload = false;
        }

        return result;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if( firstRender )
            await LoadSettings();
        
        await base.OnAfterRenderAsync(firstRender);
    }

}