@using Humanizer

@if (Slot != null)
{
    <div class="action-icon" title="@Slot.ActionToExecute.reason">
        <ActionIcon Action="Slot.ActionToExecute.action" Pulse="@isCurrentSlot" IsEVCharge="@(Slot.PriceType == PriceType.IOGDispatch)"/>
        <ToolTipPopover ToolTip="@Slot.ActionToExecute.reason" PointerCursor="true">
            @Slot.ActionToExecute.action.Description()
        </ToolTipPopover>
    </div>
}

@code {
    [Parameter]
    public OctopusPriceSlot? Slot { get; set; }
    
    private bool isCurrentSlot = false;
    
    protected override async Task OnParametersSetAsync()
    {
        if( Slot != null)
            isCurrentSlot = Slot.valid_from < DateTime.Now && Slot.valid_to > DateTime.Now;
        
        await base.OnParametersSetAsync();
    }
}