
@inherits InverterConfigComponentBase<InverterConfigSolis>

<h5>Solis Inverter Settings</h5>
@if (config != null)
{
    <MudTextField T="string" Label="Solis API Key" @bind-Value="@config.SolisAPIKey" @bind-Value:after="ConfigChanged" 
                    Immediate="true" Variant="UIConstants.MudVariant"/>
    <MudTextField T="string" Label="Solis API Secret" @bind-Value="@config.SolisAPISecret"  @bind-Value:after="ConfigChanged"
                  Immediate="true" Variant="UIConstants.MudVariant"/>
    <MudTextField T="string" Label="Solis Inverter Serial Number" @bind-Value="@config.SolisInverterSerial"  @bind-Value:after="ConfigChanged"
                  Immediate="true" Variant="UIConstants.MudVariant"/>
    <div class="config-field-row">
        <ConfigSettingHelp HelpText="Specifies the maximum charge and discharge rate in Amps">
            <MudNumericField T="int" Label="Max Charge Rate (Amps)" @bind-Value="@config.MaxChargeRateAmps" @bind-Value:after="ConfigChanged"
                             Min="5" Max="750" Variant="UIConstants.MudVariant" class="wrapped-field"/>
        </ConfigSettingHelp>
        <ConfigSettingHelp HelpText="Specifies the minimum discharge SOC percentage that will be applied. This setting only affects inverters with newer firmware">
            <MudNumericField T="int" Label="Min Discharge SOC (%)" @bind-Value="@config.MinDischargeSOC"  @bind-Value:after="ConfigChanged"
                             Min="15" Max="70" Variant="UIConstants.MudVariant" class="wrapped-field"/>
        </ConfigSettingHelp>
        @if (config?.MaxChargeRateAmps > 100)
        {
            <ConfigWarning>
                Warning: only set the Max Charge to high values if you have a particularly
                large inverter installation, and you understand the implications. Otherwise
                this could lead to write failures if the inverter rejects the high value.
            </ConfigWarning>
        }
    </div>
}

@code {
}