@using ApexCharts

@inherits ChartBase<GroupedConsumption>

<ErrorBoundary>
    @if (ChartData != null)
    {
        <div class="chart-area">
            <ApexChart @ref="chart"
                       TItem="GroupedConsumption"
                       XAxisType="XAxisType.Datetime"
                       Options="@Options"
                       Height="@("100%")">

                <ApexPointSeries TItem="GroupedConsumption"
                                 Items="@ChartData.ConsumptionData"
                                 Name="Cost"
                                 XValue="@(e => e.StartTime?.Date)"
                                 YValue="@(e => e.NetCost)"
                                 SeriesType="SeriesType.Bar"
                                 Color="darkred"
                                 PointColor="e => GetColor(e)"/>

                <ApexPointSeries TItem="GroupedConsumption"
                                 Items="@ChartData.ComparisonConsumptionData"
                                 Name="Comparison Cost"
                                 XValue="@(e => e.StartTime?.Date)"
                                 YValue="@(e => e.NetCost)"
                                 SeriesType="SeriesType.Bar"
                                 Color="orange"
                                 PointColor="e => GetComparisonColor(e)"/>
            </ApexChart>
        </div>
    }
</ErrorBoundary>

@code {
    [Parameter, EditorRequired]
    public ConsumptionResponse? ChartData { get; set; }
    
    private string GetColor(GroupedConsumption item) => item.NetCost > 0 ? "firebrick" : "green";
    private string GetComparisonColor(GroupedConsumption item) => item.NetCost > 0 ? "orange" : "lightblue";

    protected override void SetOptions(ApexChartOptions<GroupedConsumption> options)
    {
        var yAxis = new List<YAxis>();

        yAxis.Add(new YAxis
        {
            Title = new AxisTitle { Text = "Cost (£)" },
            SeriesName = "Cost",
            DecimalsInFloat = 2
        });
        
        options.Yaxis = yAxis;
        options.Xaxis = new XAxis { Labels = new XAxisLabels { DatetimeUTC = false } };
    }
}