@using ApexCharts

@inherits ChartBase<GroupedConsumption>

<ErrorBoundary>
    @if (ChartData != null)
    {
        <div class="chart-area">
            <ApexChart @ref="chart"
                       TItem="GroupedConsumption"
                       XAxisType="XAxisType.Datetime"
                       Options="@Options"
                       Height="@("100%")">

                <ApexPointSeries TItem="GroupedConsumption"
                                 Items="@ChartData"
                                 Name="Cost"
                                 XValue="@(e => e.Description)"
                                 YValue="@(e => e.NetCost)"
                                 SeriesType="SeriesType.Bar"
                                 Color="lightgrey"
                                 PointColor="e => GetColor(e)"/>
            </ApexChart>
        </div>
    }
</ErrorBoundary>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<GroupedConsumption>? ChartData { get; set; }

    private string GetColor(GroupedConsumption item) => item.NetCost > 0 ? "firebrick" : "green";

    protected override void SetOptions(ApexChartOptions<GroupedConsumption> options)
    {
        var yAxis = new List<YAxis>();

        yAxis.Add(new YAxis
        {
            Title = new AxisTitle { Text = "Cost (£)" },
            SeriesName = "Cost",
            DecimalsInFloat = 2
        });
        
        options.Yaxis = yAxis;
        options.Xaxis = new XAxis { Labels = new XAxisLabels { DatetimeUTC = false } };
    }
}