@using ApexCharts

@inherits ChartBase<GroupedConsumption>

<ErrorBoundary>
    @if (ChartData != null)
    {
        <div class="chart-area">
            <ApexChart @ref="chart"
                       TItem="GroupedConsumption"
                       XAxisType="XAxisType.Datetime"
                       Options="@Options"
                       Height="@("100%")">

                <ApexPointTooltip>
                    <div class="chart-tooltip">
                        <div class="chart-tooltip-title">
                            <div>@TooltipRange(context.DataPoint.Items)</div>
                            <Price Label="Net Cost" Value=@context.DataPoint.Items.Sum(e => e.NetCost) Colours="Price.ColorType.PositiveRed "/>
                        </div>
                        <Price Label="Import Total" Value="@context.DataPoint.Items.Sum(e => e.TotalImportCost)" Colours="Price.ColorType.PositiveRed"/>
                        <div class="price-row">Import Average: @context.DataPoint.Items.Average(e => e.AverageImportPrice).ToString("N2")<text>p/kWh</text></div>
                        @if (context.DataPoint.Items.Average(e => e.AverageExportPrice) > 0)
                        {
                            <Price Label="Export Total" Value="@context.DataPoint.Items.Sum(e => e.TotalExportProfit)" Colours="Price.ColorType.PositiveGreen"/>
                            <div class="price-row">Export Average: @context.DataPoint.Items.Average(e => e.AverageExportPrice).ToString("N2")<text>p/kWh</text></div>
                        }
                    </div>
                </ApexPointTooltip>
                
                <ChildContent>
                <ApexPointSeries TItem="GroupedConsumption"
                                 Items="@ChartData.ConsumptionData"
                                 Name="Cost"
                                 XValue="@(e => e.StartTime?.Date)"
                                 YValue="@(e => e.NetCost)"
                                 SeriesType="SeriesType.Bar"
                                 Color="darkred"
                                 PointColor="e => GetColor(e)"/>

                @if (ChartData.ComparisonConsumptionData.Any())
                {
                    <ApexPointSeries TItem="GroupedConsumption"
                                     Items="@ChartData.ComparisonConsumptionData"
                                     Name="Comparison Cost"
                                     XValue="@(e => e.StartTime?.Date)"
                                     YValue="@(e => e.NetCost)"
                                     SeriesType="SeriesType.Bar"
                                     Color="orange"
                                     PointColor="e => GetComparisonColor(e)"/>
                }
                </ChildContent>
            </ApexChart>
        </div>
    }
</ErrorBoundary>

@code {
    [Parameter, EditorRequired]
    public ConsumptionResponse? ChartData { get; set; }
    
    [Parameter]
    public GroupByType SelectedGrouping { get; set; }
    
    private string GetColor(GroupedConsumption item) => item.NetCost > 0 ? "firebrick" : "green";
    private string GetComparisonColor(GroupedConsumption item) => item.NetCost > 0 ? "orange" : "lightblue";

    private string TooltipRange(IEnumerable<GroupedConsumption>? items)
    {
        string result = string.Empty;
        if (items != null)
        {
            var startDate = items.First().StartTime!.Value;
            var endDate = items.Last().EndTime!.Value;

            return SelectedGrouping switch
            {
                GroupByType.Month => startDate.ToString("MMMM"),
                GroupByType.Week => startDate.Month == endDate.Month ? 
                                        $"{startDate:dd}-{endDate:dd} {startDate:MMMM}" :
                                        $"{startDate:dd-MMM} - {endDate:dd-MMM}",
                _ => startDate.ToString("dd-MMMM")
            };
        }

        return result;
    }
    
    protected override void SetOptions(ApexChartOptions<GroupedConsumption> options)
    {
        var yAxis = new List<YAxis>()
        {
            new()
            {
                Title = new AxisTitle { Text = "Cost (£)" },
                SeriesName = "Cost",
                DecimalsInFloat = 2
            }
        };
        
        options.Yaxis = yAxis;
        options.Xaxis = new XAxis { Labels = new XAxisLabels { DatetimeUTC = false } };
    }
}